#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.article-item {
  display: block;
  width:min-content;
  padding: 2em;
  background-color: antiquewhite;
  border-radius: 20px;
  box-shadow: 10px 5px 5px grey;
}
.article-item img{
  width: 65%px;
}

.read-the-docs {
  color: #888;
}

 /* The navbar container */
 .topnav {
   overflow: hidden;
   background-color: lightcoral;
 }

 .topnav a {
   float: left;
   width:30%;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

 /* Links - change color on hover */
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }

 .single-list-article {
  .parent {
      display: flex;
      justify-content: center;
      /* center horizontally */
      align-items: center;
      /* center vertically (if container has height) */
      height: 100vh;
      /* optional height as needed - this example makes the container fill the full viewport height*/
    }
 }